.btn:hover{
    color:black;
    background:white;
}
h1{
    color: yellow;
}
img.d-block{
    height: 400px;
}

@media only screen and (max-width: 600px) {
    .carousel {
      height: 200px;
    }
    img.d-block{
        height: 200px;
    }
  }
.w-full{
    opacity: 0.9;
    transform: scale(0.97);
    
    
}
.w-full:hover{
    opacity: 1;
    transform: scale(1);
    
}
a.nav-link:hover{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: scale(1.1);
}